.featured-container{
background-color: rgb(235, 235, 250);
padding-top: 1cm;
padding-bottom: 2.5cm;
margin-bottom: 0%;
}
.featured-items-container{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
gap: 1rem;
width: 90vw;
    max-width: 1170px;
margin-left: auto;
margin-right: auto;
margin-top: 2cm;
}
.image-search-container{
    width: 95%;
    display: flex;
    position: relative;
    overflow: hidden;
    height: 230px;
}
.featured-image{
    width:  100%;
    height: auto;
}
.search-icon-container{
    display: none;
}
.featured-heading{
    font-size: 1cm;
    letter-spacing: 2px;
}
.featured-heading::after{
    content: '';
    display: block;
    width: 3cm;
    margin: auto;
    border-bottom: 0.12cm solid goldenrod;
}
.search-container{
    background-color: transparent;
    transition: all 0.4s linear;
}
.image-search-container:hover .search-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-search-container:hover .search-icon-container{
width: 1.3cm;
height: 1.3cm;
background-color: rgb(165, 116, 42);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}
.search-icon{
    font-size: 0.55cm;
    color: white;
}
.search-icon-container:hover{
cursor: pointer;
}
.featured-btn{
    width: 4cm;
    height: 1cm;
    background-color: rgb(221, 169, 90);
    border: none;
    transition: 0.2s all linear;
    color: white;
    font-size: 0.35cm;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 1.5cm;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.featured-btn:hover{
    background-color: rgb(226, 194, 142);
    color: black;
}
.featured-name-price{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    font-size: 0.4cm;
    letter-spacing: 2px;
    width: 95%;
}
.featured-price{
   margin-left: auto;
   color: rgb(163, 139, 103);
}

@media screen and (max-width:900px){
    .featured-items-container{
        width: 95%;
    }
    .featured-heading{
        font-size: 0.9cm;
        letter-spacing: 1px;
    }
    .featured-name-price{
        font-size: 0.4cm;
    }
}