html {
    height: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100%;  
    padding: 0;
    margin-bottom: 2.4cm;
  }
.footer-container{
background-color: rgb(32, 31, 31);
height: 2.3cm;
width: 100%;
margin-top: 2.5cm;
align-items: center;
display: flex;
/*position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;*/
}
.footer-text{
color: white;
margin-left: auto;
font-size: 15px;
margin-right: auto;
letter-spacing: 2px;
}
.footer-span{
    color:  rgb(168, 141, 99);
}
@media screen and (max-width:600px){
.footer-text{
    font-size: 15px;
}
}